.about {
  margin-top: 80px;
}
.about_title {
  font-weight: 700;
  font-size: 34px;
  color: #0f2222;
}
.about_text {
  margin-top: 26px;
  font-size: 16px;
  line-height: 1.6;
  color: #245050;
}
.about_sign {
  margin-top: 14px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  font-style: italic;
  color: #c0c0c0;
  text-align: center;
}
.about_button {
  margin-top: 22px;
}
