.books {
  margin-top: 64px;
}
.books_title {
  margin-top: 51px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}
.books_text {
  color: #245050;
  font-size: 16px;
  line-height: 1.6;
}
// ------books card--------
.books_list {
  display: flex;
}
.books_item:not(:first-child) {
  margin-left: 10px;
}
.books_card {
  width: 185px;
  height: 408px;
}
.books_preview {
  width: 184px;
  height: 242px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9f0;
  border-radius: 6px;
}
.books_preview:hover,
.books_preview:focus {
  background-color: cornflowerblue;
}
.books_pic {
  width: 152px;
  height: 218px;
}

.books_author {
  margin-top: 12px;
  font-size: 14px;
  color: #c0c0c0;
}
.books_name {
  margin-top: 6px;
  font-weight: 600;
  font-size: 20px;
  color: #4d4d4d;
}
.books_price {
  margin-top: 10px;
  display: flex;
}
.price_disc {
  font-weight: 600;
  font-size: 16px;
  color: #f3bc24;
}
.price {
  font-weight: 600;
  font-size: 16px;
  color: #858585;
  text-decoration: line-through;
  margin-left: 10px;
}
.by_button {
  margin-top: 10px;
  width: 104px;
  height: 37px;
  background-color: #2d6d4c;
}
