.hero {
  margin-top: 90px;
}
.hero__title {
  margin-left: 27px;
  font-size: 34px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}
.hero_text {
  color: #245050;
  font-size: 16px;
  line-height: 1.6;
}
.hero_pic {
  width: 243px;
  height: auto;
  margin: 0 auto;
}
