.mob_menu {
  display: none;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
  position: fixed;
  z-index: 500;
  background-color: #f5f5f5;
}
.mob__menu-list {
  margin-top: 80px;
  margin-bottom: 0;
  font-weight: 600;
}
.mob_menu_item:not(:first-child) {
  margin-top: 22px;
}

.counselling_button {
  margin-top: 20px;
  background-color: transparent;
  width: 224px;
  height: 44px;
  border-radius: 6px;
  font-size: 17px;
  color: rgba(243, 188, 36, 1);
  border: 1px solid rgba(243, 188, 36, 1);
  font-weight: 600;
}
.mob_menu_tell {
  font-weight: 500;
  color: #0f2222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone_icon {
  width: 22px;
  height: 22px;
}
.mob-menu-links {
  margin-top: 39px;
}

.menu-mob-close-btn {
  position: absolute;
  top: 24px;
  right: 20px;
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}
.close-icon {
  fill: #2d6d4c;
  width: 18px;
  height: 18px;
}
.sing-logo {
  position: absolute;
  left: 20px;
  top: 20px;
  border-radius: 50%;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
}
.sing-icon {
  background-color: transparent;
  width: 28px;
  height: 28px;
}
.login-name {
  margin-left: 10px;
}
.untitled_icon {
  margin-top: 22px;
  width: 29px;
  height: 20px;
}
