.subscribe {
  margin-top: 78px;
}
.subscribe_title {
  font-weight: 700;
  font-size: 34px;
  color: #0f2222;
}
.subscribe_text {
  font-size: 16px;
  line-height: 1.6;
  color: #245050;
  margin-top: 24px;
}
.subscribe_form {
  margin-top: 14px;
}
.subscibe_input {
  border: none;
  width: 344px;
  height: 60px;
  border-radius: 6px;
  color: #dcdcdc;
  font-size: 14px;
  line-height: 1.6;
  background-color: #fafafa;
  padding-left: 26px;
  outline: none;
}
.subscribe_button {
  margin-top: 12px;
  background-color: #f3bc24;
}
