.btn {
  color: #ffffff;
  width: 343px;
  height: 57px;
  background-color: #4fa55f;
  border: none;
  border-radius: 6px;
}
.hero_button {
  margin-top: 20px;
}
.event_button {
  margin-top: 57px;
}
